 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/publics/styles.css">
    <script defer type="text/javascript" src = "/publics/ext.js"></script>
    <title>Form</title>
</head>
<body>

    <form id="itemForm" name="itemsForm"  class='itemsForm' method="post" action="/items" onsubmit="onFormSubmit(this); return false;">
        <!--onsubmit="onFormSubmit(this); return false;"-->
        <fieldset>
            <legend>Add Item</legend>
            <div id='fName' class='input-wrapper'>
                <label for = 'iName'>Name:</label>
                <input id ='iName' type="text" name="name" placeholder="Input Name"/>
            </div>
            <div id = 'fEmail' class='input-wrapper'>
                <label for = 'iEmail'>Email:</label>
                <input id = 'iEmail' type="text" name="email" placeholder="your@email.com"/>
            </div>
            <div id = 'fPhone' class='input-wrapper'>
                <label for = 'iPhone'>Phone:</label>
                <input  id = 'iPhone' type="text" name="phone" placeholder="+375ZZXXXYYYY"/>
            </div>
            <button  type="submit">Submit</button>
        </fieldset>
    </form>

    <br>

    <div id="listItems" class="listItems"></div>

    


</body>
</html>
